---
layout: home
page_type: home
needs_google_maps: true
scripts:
  - js/bootstrap-tooltip.js
  - js/bootstrap-popover.js
  - js/lots-data.js
  - js/map-styles.js
  - js/desktop-map.js
  - js/mini-map.js
  - js/epark.js
  - js/sort.js
  - js/footer.js
  - js/home.js
---
{% include head.html %}

<div class="search">
  <form action="#">
    <input name="q" id="q" type="text" placeholder="Type your destination here" autocomplete="off">
    <div class="close">
      <a href="#"></a>
    </div>
  </form>
  <ul class="search-results clearfix">
  </ul>
</div>

<div class="sidebar">
  <header>
    <hgroup>
      <a href=".">
        <h1>More parking. Less Circling.</h1>
        <h2>DowntownSeattleParking.com</h2>
      </a>
    </hgroup>
  </header>

  <section class="list">
    <ul class="home-list home-list-show">
      <li>
        <a href="" class="view-on-map">
          <div class="wrapper">
            <span class="caption caption-show">View on Map</span>
            <span class="instructions">
              Click the map to view nearby parking options.
            </span>
          </div>
        </a>
      </li>
      <li>
        <a href="" class="view-by-neighborhood">
          <div class="wrapper">
            View by Neighborhood
          </div>
        </a>
      </li>
      <li>
        <a href="" class="garage-hours">
          <div class="wrapper">
            Garage Hours
          </div>
        </a>
      </li>
    </ul>
    <ul class="lot-list">
      <li>
        <a class="back" href="#">Back</a>
      </li>
    {% for lot in page.lots %}
      <li data-lot-id="{{ lot.id }}" data-lat="{{ lot.lat }}" data-lng="{{ lot.lng }}"{% if lot.buslic_location_id %} data-buslic-location-id="{{ lot.buslic_location_id }}"{% endif %}{% if lot.total_spaces %} data-total-spaces="{{ lot.total_spaces }}"{% endif %}>
        <a href="{{ lot.page_url }}">
          <div class="wrapper">
            {% if lot['icon'] %}
              {% if lot['low_cost'] %}
              <span class="lot-icon icon-low"></span>
              {% else %}
              <span class="lot-icon icon-{{ lot.icon }}"></span>
              {% endif %}
            {% endif %}
            <span class="lot-title{% unless lot['icon'] %} no-icon{% endunless %}">{{ lot['title'] | html }}</span>
            {% if lot.cross_streets %}
            <br>
            <span class="cross-streets">{{ lot.cross_streets | html }}</span>
            {% endif %}
            <div class="epark-wrapper">
              <div class="total-bar">
                <div class="full-bar"><span></span>% Full</div>
              </div>
            </div>
          </div>
          <span class="distance"></span>
        </a>
      </li>
    {% endfor %}
    </ul>
  </section>

  <section class="neighborhoods">
    <ul class="lot-list back-list lot-list-show">
      <li>
        <a class="back" href="#">Back</a>
      </li>
    </ul>
    <ul class="lot-list lot-list-show">
      <li>
        <a href="#" class="hood neighborhood-pioneer">
          <div class="wrapper">
            <span>Pioneer Square</span>
          </div>
        </a>
      </li>
      <li>
        <a href="#" class="hood neighborhood-waterfront">
          <div class="wrapper">
            <span>Central Waterfront</span>
          </div>
        </a>
      </li>
      <li>
        <a href="#" class="hood neighborhood-retail">
          <div class="wrapper">
            <span>Retail Core</span>
          </div>
        </a>
      </li>
    </ul>
  </section>

  <section class="hours-lots twenty-four-hour-lots">
    <ul class="lot-list back-list lot-list-show">
      <li>
        <a class="back" href="#">Back</a>
      </li>
    </ul>
    <h2>24-Hour Availability</h2>
    <ul class="lot-list lot-list-show">
      {% for lot in page.twenty_four_lots %}
        <li data-lat="{{ lot.lat }}" data-lng="{{ lot.lng }}"{% if lot.buslic_location_id %} data-buslic-location-id="{{ lot.buslic_location_id }}"{% endif %}{% if lot.total_spaces %} data-total-spaces="{{ lot.total_spaces }}"{% endif %}>
          <a href="{{ lot.page_url }}">
            <div class="wrapper">
              {% if lot['icon'] %}
                {% if lot['low_cost'] %}
                <span class="lot-icon icon-low"></span>
                {% else %}
                <span class="lot-icon icon-{{ lot.icon }}"></span>
                {% endif %}
              {% endif %}
              <span class="lot-title{% unless lot['icon'] %} no-icon{% endunless %}">{{ lot['title'] | html }}</span>
              {% if lot.cross_streets %}
              <br>
              <span class="cross-streets">{{ lot.cross_streets | html }}</span>
              {% endif %}
              <div class="epark-wrapper">
                <div class="total-bar">
                  <div class="full-bar"><span></span>% Full</div>
                </div>
              </div>
            </div>
            <span class="distance"></span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>

  <section class="hours-lots evening-lots">
    <h2>Evening and Late Night Availability</h2>
    <ul class="lot-list lot-list-show">
      {% for lot in page.evening_lots %}
        <li data-lat="{{ lot.lat }}" data-lng="{{ lot.lng }}"{% if lot.buslic_location_id %} data-buslic-location-id="{{ lot.buslic_location_id }}"{% endif %}{% if lot.total_spaces %} data-total-spaces="{{ lot.total_spaces }}"{% endif %}>
          <a href="{{ lot.page_url }}">
            <div class="wrapper">
              {% if lot['icon'] %}
                {% if lot['low_cost'] %}
                <span class="lot-icon icon-low"></span>
                {% else %}
                <span class="lot-icon icon-{{ lot.icon }}"></span>
                {% endif %}
              {% endif %}
              <span class="lot-title{% unless lot['icon'] %} no-icon{% endunless %}">{{ lot['title'] | html }}</span>
              {% if lot.cross_streets %}
              <br>
              <span class="cross-streets">{{ lot.cross_streets | html }}</span>
              {% endif %}
              <div class="epark-wrapper">
                <div class="total-bar">
                  <div class="full-bar"><span></span>% Full</div>
                </div>
              </div>
            </div>
            <span class="distance"></span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>

  <section class="hours-lots commuter-lots">
    <h2>Daytime Hours Only</h2>
    <ul class="lot-list lot-list-show">
      {% for lot in page.commuter_lots %}
        <li data-lat="{{ lot.lat }}" data-lng="{{ lot.lng }}"{% if lot.buslic_location_id %} data-buslic-location-id="{{ lot.buslic_location_id }}"{% endif %}{% if lot.total_spaces %} data-total-spaces="{{ lot.total_spaces }}"{% endif %}>
          <a href="{{ lot.page_url }}">
            <div class="wrapper">
              {% if lot['icon'] %}
                {% if lot['low_cost'] %}
                <span class="lot-icon icon-low"></span>
                {% else %}
                <span class="lot-icon icon-{{ lot.icon }}"></span>
                {% endif %}
              {% endif %}
              <span class="lot-title{% unless lot['icon'] %} no-icon{% endunless %}">{{ lot['title'] | html }}</span>
              {% if lot.cross_streets %}
              <br>
              <span class="cross-streets">{{ lot.cross_streets | html }}</span>
              {% endif %}
              <div class="epark-wrapper">
                <div class="total-bar">
                  <div class="full-bar"><span></span>% Full</div>
                </div>
              </div>
            </div>
            <span class="distance"></span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>

  <div class="box key clearfix">
    <ul>
      <li class="regular">Regular</li>
      <li class="epark">e-Park <a href="http://www.seattle.gov/epark" target="_blank">details</a></li>
      <li class="low">Low-rate (&#36;3/hour) <br/> <a href="#" rel="popover" id="pop" data-content="Several parking garages and lots are offering short-term parking rates similar to on-street rates near the Waterfront and Pioneer Square. These garages are &#36;3/hour for up to four hours and are identified on the map with an <span style='font-family: Helvetica, Arial, sans-serif; font-weight:bolder; color: #f7941e'>orange &#36;3 marker</span>." data-original-title="<img src='img/key-low.png'>&nbsp;Low-Rate Garages" data-additional-class="pop">details</a></li>
      <li class="flat">Special Evening &amp;<br>Weekend Flat Rate<br>($7 or less) <a href="#" rel="popover" id="pop2" data-content="Some parking garages and lots offer a flat evening and weekend rate of &#36;7 or less. These garages are identified on the map with a <span style='font-family: Helvetica, Arial, sans-serif; font-weight:bolder; color: #5bc8bd'>teal marker</span>.  Please check with garage for hours and details." data-original-title="<img src='img/key-flat.png'>&nbsp;&#36;7 Flat Rate" data-additional-class="pop-flat">details</a></li>
    </ul>
  </div><!-- .key -->

  <div class="banner-ad first-thursdays">
    <a href="http://firstthursdayseattle.com" target="_blank">
      Free Parking on 1st Thursdays. Next up: November 5th
    </a>
  </div>

  <div class="box resources">
    <h2>Additional Resources</h2>

    <ul>
      <li><a href="http://www.seattle.gov/transportation/parking/paidparkingrates.htm" target="_blank">City of Seattle street parking rates</a></li>
      <li><a href="http://metro.kingcounty.gov/" target="_blank">Metro Trip Planner</a></li>
      <li><a href="http://www.pioneersquare.org" target="_blank">Pioneer Square info</a></li>
      <li><a href="http://www.seattlewaterfront.org" target="_blank">Waterfront info</a></li>
      <li><a href="https://www.explore.downtownseattle.com" target="_blank">Shop, Dine &amp; Deals</a></li>
    </ul>  </div><!-- .resources -->

  <div class="box promotions">
    <h2>Free Parking on First Thursdays</h2>
    <ul>
      <li>
      Park for free when you visit Pioneer Square&rsquo;s First Thursday art walk! Select Pioneer Square garages offer free parking between the hours of 5p and 10p.
      <a class="btn" href='http://firstthursdayseattle.com' target='_blank'>Details</a>
      </li>
    </ul>
  </div>
</div><!-- .sidebar -->

<div class="mobile-home">
  <div class="banner-ad first-thursdays">
    <a href="http://firstthursdayseattle.com" target="_blank">
      <span>Free Parking on 1st Thursdays</span>
    </a>
  </div>

  <header>
    <h1 class="ir"><a href=".">DowntownSeattleParking.com</a></h1>
  </header>
  <section class="list">
    <ul class="lot-list">
      <li>
        <a class="back" href="#">Back</a>
      </li>
    {% for lot in page.lots %}
      <li data-lot-id="{{ lot.id }}" data-lat="{{ lot.lat }}" data-lng="{{ lot.lng }}"{% if lot.buslic_location_id %} data-buslic-location-id="{{ lot.buslic_location_id }}"{% endif %}{% if lot.total_spaces %} data-total-spaces="{{ lot.total_spaces }}"{% endif %}>
        <a href="{{ lot.page_url }}">
          <div class="wrapper">
            {% if lot['icon'] %}
              {% if lot['low_cost'] %}
              <span class="lot-icon icon-low"></span>
              {% else %}
              <span class="lot-icon icon-{{ lot.icon }}"></span>
              {% endif %}
            {% endif %}
            <span class="lot-title{% unless lot['icon'] %} no-icon{% endunless %}">{{ lot['title'] | html }}</span>
            {% if lot.cross_streets %}
            <br>
            <span class="cross-streets">{{ lot.cross_streets | html }}</span>
            {% endif %}
            <div class="epark-wrapper">
              <div class="total-bar">
                <div class="full-bar"><span></span>% Full</div>
              </div>
            </div>
          </div>
          <span class="distance"></span>
        </a>
      </li>
    {% endfor %}
    </ul>
    <ul class="mobile-home-list mobile-home-list-show">
      <li class="near-me">
        <a href="near">
          <div class="wrapper">
            Near Me
          </div>
        </a>
      </li>
      <li class="popular-destinations">
        <a href="destinations">
          <div class="wrapper">
            Popular Destinations
          </div>
        </a>
      </li>
      <li class="view-on-map">
        <a href="map">
          <div class="wrapper">
            View on Map
          </div>
        </a>
      </li>
      <li class="view-by-neighborhood">
        <a href="neighborhoods">
          <div class="wrapper">
            View by Neighborhood
          </div>
        </a>
      </li>
      <li class="garage-hours">
        <a href="hours">
          <div class="wrapper">
            Garage Hours
          </div>
        </a>
      </li>
    </ul>
    <div class="box resources">
      <h2>Additional Resources</h2>

      <ul>
        <li><a href="http://www.seattle.gov/transportation/parking/paidparkingrates.htm" target="_blank">City of Seattle street parking rates</a></li>
        <li><a href="http://metro.kingcounty.gov/" target="_blank">Metro Trip Planner</a></li>
        <li><a href="http://www.pioneersquare.org" target="_blank">Pioneer Square info</a></li>
        <li><a href="http://www.seattlewaterfront.org" target="_blank">Waterfront info</a></li>
      <li><a href="https://www.explore.downtownseattle.com" target="_blank">Shop, Dine &amp; Deals</a></li>
      </ul>
    </div><!-- .resources -->
    <div class="box promotions">
      <h2>Free Parking on First Thursdays</h2>
      <ul>
        <li>
        Park for free when you visit Pioneer Square&rsquo;s First Thursday art walk! Select Pioneer Square garages offer free parking between the hours of 5p and 10p.
        <a class="btn" href='http://firstthursdayseattle.com' target='_blank'>Details</a>
        </li>
      </ul>
    </div>
  </section>
</div>

<footer>
  {% include footer.html %}
</footer>

<div class="map-container">
  <div id="map">
  </div>
</div>

<div id="quick-zoom-template" class="box quick-zoom">
  <h2>Quick Zoom</h2>

  <ul>
    <li><a class="go-pioneer" href="#">Pioneer Square</a></li>
    <li><a class="go-waterfront" href="#">Central Waterfront</a></li>
    <li><a class="go-retail" href="#">Retail Core</a></li>
    <li class="print-maps"><a href="#" rel="popover" id="pop-print-maps" data-content="<a href='https://s3.amazonaws.com/downtownseattleparking/files/pioneer-square-parking.pdf' target='_blank'>Pioneer Square</a><br><a href='https://s3.amazonaws.com/downtownseattleparking/files/central-waterfront-parking.pdf' target='_blank'>Central Waterfront</a><br><a href='https://s3.amazonaws.com/downtownseattleparking/files/retail-core-parking.pdf' target='_blank'>Retail Core</a><br>" data-placement="left" data-original-title="Printable Maps" data-additional-class="pop-flat">Printable Maps</a></li>
  </ul>
</div>

<div class="view-arrow"></div>


{% include foot.html %}
