<div class="footer-wrap">
<ul>
  <li class="contact-us"><a href="mailto:viaduct@wsdot.wa.gov?subject=Parking Inquiry – DowntownSeattleParking.com" target="_blank">Contact Us</a></li>
  <li class="faq"><a id="pop-faq" href="https://s3.amazonaws.com/downtownseattleparking/files/DowntownSeattleParking.com-FAQ.pdf" target="_blank">FAQ</a></li>
  <li class="press-room"><a href="#" rel="popover" id="pop-press" data-content="
    <p><a href='https://s3.amazonaws.com/downtownseattleparking/files/FINAL+AWVParkingMitigation_FactSheet_Nov122013.pdf' target='_blank'>Fact Sheet</a> (PDF)</p>

    <p><a href='https://s3.amazonaws.com/downtownseattleparking/files/ParkingMitigation_Photos.zip' target='_blank'>Photos</a> (ZIP)</p>

    <p><a href='https://s3.amazonaws.com/downtownseattleparking/files/Photo+Advisory-Parking+High+Five+World+Record+Attempt-+2015.pdf' target='_blank'>Photo Advisory - Parking High Five World Record Attempt (2015)</a> (PDF)</p>

    <p><a href='https://s3.amazonaws.com/downtownseattleparking/files/Free+Parking+Event+on+Seattle+Waterfront+2015+Media+Release.pdf' target='_blank'>Free Parking Event on Seattle Waterfront (2015)</a> (PDF)</p>

    <p><a href='https://s3.amazonaws.com/downtownseattleparking/files/Parking+Carolers+to+Give+Gift+of+Song%2C+Free+Parking+at+Holiday+Tree+(2014).pdf' target='_blank'>Parking Carolers to Give Gift of Song, Free Parking at Holiday Tree (2014)</a> (PDF)</p>

    <p><a href='https://s3.amazonaws.com/downtownseattleparking/files/Cheap+Downtown+Seattle+Parking+Is+Just+a+Click+Away+this+Holiday+Season+(2014).pdf' target='_blank'>Cheap Downtown Seattle Parking Is Just a Click Away this Holiday Season (2014)</a> (PDF)</p>

    <p><a href='https://s3.amazonaws.com/downtownseattleparking/files/Free+Mother%27s+Day+Parking+at+the+Seattle+Waterfront+(2014).PDF' target='_blank'>Free Mother&rsquo;s Day Parking at the Seattle Waterfront (2014)</a> (PDF)</p>

    <p><a href='https://s3.amazonaws.com/downtownseattleparking/files/Easy+%26+Affordable+Valentine%27s+Day+Parking+in+the+WaterfrontPioneer+Square+(2014).pdf' target='_blank'>Easy &amp; Affordable Valentine&rsquo;s Day Parking in the Waterfront &amp; Pioneer Square (2014)</a> (PDF)</p>

    <p><strong>James Sido</strong>, Downtown Seattle Association<br>
    Senior Manager Public Relations<br>
    <a href='tel:2066133208'>206.613.3208</a><br>
    <a href='mailto:jamess@DowntownSeattle.org'>JamesS@DowntownSeattle.org</a><br>
    Media inquiries regarding: <a href='http://downtownseattleparking.com'>DowntownSeattleParking.com</a>, special rate garage parking, e-Park real-time parking guidance and special events</p>

    <p><strong>En Lammers</strong>, WSDOT<br>
    Public Information Officer for AWV and SR 520<br>
    <a href='tel:2068052874'>206.805.2874</a><br>
    <a href='mailto:lammere@wsdot.wa.gov'>lammere@wsdot.wa.gov</a><br>
    Media inquiries regarding: WSDOT interviews, program budget & schedule, and construction effects on parking</p>
    " data-original-title="Press" data-additional-class="footer-pop" data-placement="top">Press</a></li>
</ul>
<ul>
  <li class="business-tools"><a href="#" rel="popover" id="pop-business" data-content="
    <p><a href='https://s3.amazonaws.com/downtownseattleparking/files/FINAL+AWVParkingMitigation_FactSheet_Nov122013.pdf' target='_blank'>Fact Sheet</a> (PDF)</p>

    <p><a href='https://s3.amazonaws.com/downtownseattleparking/files/AWVParkingMitigation_ToolKit_General_2015_V03.pdf' target='_blank'>Brand Toolkit</a> (PDF)</p>

    <p><strong>Brendan Lemkin</strong>, Commute Seattle<br>
    Parking Outreach Manager<br>
    <a href='tel:2066133126'>206.613.3126</a><br>
    <a href='mailto:brendanl@commuteseattle.com'>BrendanL@CommuteSeattle.com</a><br>
    Questions about website, mobile, e-Park, parking access, garages, visitor and driver needs, garage partnerships and events</p>

    <p><strong>En Lammers</strong>, WSDOT<br>
    AWV Parking Mitigation Program Lead<br>
    Public Information Officer<br>
    <a href='tel:2068052874'>206.805.2874</a><br>
    <a href='mailto:lammere@WSDOT.wa.gov'>lammere@WSDOT.wa.gov</a><br>
    Questions about parking mitigation plan, budget, schedule, signage, lighting, on-street parking and business partnerships</p>" data-original-title="Business Tools" data-additional-class="footer-pop" data-placement="top">Business Tools</a></li>
  <li class="privacy-policy"><a href="https://downtownseattle.com/PrivacyPolicy" target="_blank">Privacy Policy</a></li>
</ul>
</div>

<div class="mobile-info">
  <div class="info-block mobile-press-room">
    <p><a href="https://s3.amazonaws.com/downtownseattleparking/files/FINAL+AWVParkingMitigation_FactSheet_Nov122013.pdf">Fact Sheet</a> (PDF)</p>

    <p><a href="https://s3.amazonaws.com/downtownseattleparking/files/ParkingMitigation_Photos.zip">Photos</a> (ZIP)</p>

    <p><a href="https://s3.amazonaws.com/downtownseattleparking/files/WSDOT+Mothers+Day+2013+Parking+Release+FINAL.PDF">Free Mother&rsquo;s Day Parking at the Seattle Waterfront (2013)</a> (PDF)</p>

    <p><a href="https://s3.amazonaws.com/downtownseattleparking/files/Final_MothersDayParking_Release.pdf">Free Mother&rsquo;s Day Parking at the Seattle Waterfront (2012)</a> (PDF)</p>

    <p><a href="https://s3.amazonaws.com/downtownseattleparking/files/Holiday_2013_happenings_pressrelease.pdf">Low Rate Parking For Your Holiday Itinerary</a> (PDF)</p>

    <p><a href="https://s3.amazonaws.com/downtownseattleparking/files/Holiday_2013_kickoff_pressrelease.pdf">Seattle Neighborhoods Offer Low Rate Parking During Holidays</a> (PDF)</p>

    <p><strong>James Sido</strong>, Downtown Seattle Association<br>
    Senior Manager Public Relations<br>
    <a href='tel:2066133208'>206.613.3208</a><br>
    <a href='mailto:jamess@DowntownSeattle.org'>JamesS@DowntownSeattle.org</a><br>
    Media inquiries regarding: <a href='http://downtownseattleparking.com'>DowntownSeattleParking.com</a>, special rate garage parking, e-Park real-time parking guidance and special events</p>

    <p><strong>En Lammers</strong>, WSDOT<br>
    Public Information Officer for AWV and SR 520<br>
    <a href='tel:2068052874'>206.805.2874</a><br>
    <a href='mailto:lammere@wsdot.wa.gov'>lammere@wsdot.wa.gov</a><br>
    Media inquiries regarding: WSDOT interviews, program budget &amp; schedule, and construction effects on parking</p>
  </div>
  <div class="info-block mobile-business-tools">
    <p><a href='https://s3.amazonaws.com/downtownseattleparking/files/FINAL+AWVParkingMitigation_FactSheet_Nov122013.pdf' target='_blank'>Fact Sheet</a> (PDF)</p>

    <p><a href='https://s3.amazonaws.com/downtownseattleparking/files/AWVParkingMitigation_ToolKit_General_2015_V03.pdf' target='_blank'>Brand Toolkit</a> (PDF)</p>

    <p><strong>Brendan Lemkin</strong>, Commute Seattle<br>
    Parking Outreach Manager<br>
    <a href='tel:2066133126'>206.613.3126</a><br>
    <a href='mailto:brendanl@commuteseattle.com'>BrendanL@CommuteSeattle.com</a><br>
    Questions about website, mobile, e-Park, parking access, garages, visitor and driver needs, garage partnerships and events</p>

    <p><strong>En Lammers</strong>, WSDOT<br>
    AWV Parking Mitigation Program Lead<br>
    Public Information Officer<br>
    <a href='tel:2068052874'>206.805.2874</a><br>
    <a href='mailto:lammere@WSDOT.wa.gov'>lammere@WSDOT.wa.gov</a><br>
    Media inquiries regarding: WSDOT interviews, program budget & schedule, and construction effects on parking</p>
  </div>
  <div class="info-block mobile-faq">
    <p>Welcome to DowntownSeattleParking.com. This website is a tool to help you find fast and affordable short-term parking near Seattle’s Waterfront, Pioneer Square and Retail Core neighborhoods. It is just one of the tools the Washington State Department of Transportation (WSDOT) Alaskan Way Viaduct (AWV) Replacement Program uses to help drivers find parking during construction.</p>
 
    <h3>What are the special rates?</h3>
    <p>The $3 per hour flat rate (tax included) is for short-term parking, up to four hours. After four hours, normal rates apply. Garages offering this rate are noted with an orange marker. The teal markers indicate where there is a flat rate of $7 or less for night and weekend parking.</p>
     
    <h3>Do you manage or run the garages on your website?</h3>
    <p>WSDOT does not own or manage the garages in the program. For questions regarding special arrangements, accommodations or event rates, please contact the garages directly by clicking on specific location markers.</p>    
     
    <h3>How do I contact these garages?</h3>
    </p>Phone numbers for each parking location can be found on the website by clicking on specific location markers (desktop) or opening a specific garage (mobile).</p>
     
    <h3>Is there a mobile app for DowntownSeattleParking.com?</h3>
    <p>Our site is optimized for mobile use. Visit DowntownSeattleParking.com on any mobile phone browser to find parking near you. Bookmark the site on your smartphone for easy access.</p>
     
    <h3>Your site only lists parking rates for up to four hours. How much do I have to pay if I park for more than four hours (e.g. I’m going on an Argosy Cruise)?</h3>
    <p>Be sure to check with the individual facility on rates beyond the four hour limit. Some garages in the Retail Core offer discounted evening and weekend flat rates for $7 or less. Those locations are identified with a teal marker.</p> 
     
    <h3>Where can I park my over-height vehicle, trailer or SUV etc.?</h3>
    <p>Each parking location has different height and width restrictions. For larger vehicles, a surface parking lot would be recommended. Please contact parking locations directly to inquire about rates and capacity to accommodate special vehicles by clicking on specific location markers (desktop) or opening a specific garage (mobile).</p>
     
    <h3>Can I Advertise on DowntownSeattleParking.com?</h3>
    <p>Not at this time.</p>
     
    <h3>I believe I was overcharged for the duration of my parking, please refund my money.</h3>
    <p>The fastest way to get help is to contact the garage/parking company directly. Phone numbers for each parking location can be found on the website by clicking on specific garage/lot location markers (desktop) or opening a specific garage (mobile).</p>
     
     
    <h3>How late can I park in a garage? Can I leave my vehicle overnight?</h3>
    <p>Some garages allow overnight parking. Be sure to check the garage hours as you enter the facility or contact parking locations directly to inquire before your trip.  Phone numbers for each parking location can be found on the website by clicking on the specific garage/lot location markers (desktop) or opening a specific garage (mobile).</p>
     
    <h3>Who do I contact if my facility wants to become a member garage?</h3>
    <p>Please contact:</p>

    <p>Brendan Lemkin<br>
    Commute Seattle<br>
    <a href="mailto:BrendanL@CommuteSeattle.com">BrendanL@CommuteSeattle.com</a></p>
     
    <h3>I have other questions. Who can answer them?</h3>
    <p>Please contact us at <a href="mailto:viaduct@wsdot.wa.go">mailto:viaduct@wsdot.wa.gov</a></p>
  </div>
</div>
