<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-2.1.4.min.js"><\/script>')</script>

<script src="{% if page.prefix %}{{ page.prefix }}{% endif %}js/plugins.js"></script>
<script src="{% if page.prefix %}{{ page.prefix }}{% endif %}js/main.js"></script>

{% if page.needs_google_maps %}
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDWSXStvgjAey5xi5t3IRGVTxolL_g0qxQ&libraries=geometry,places&sensor=true"></script>
{% endif %}
{% if page.script %}
  <script src="{% if page.prefix %}{{ page.prefix }}{% endif %}{{ page.script }}"></script>
{% endif %}
{% for script in page.scripts %}
  <script src="{% if page.prefix %}{{ page.prefix }}{% endif %}{{ script }}"></script>
{% endfor %}

{% include google_analytics.html %}
{% include mediamind.html %}
    
</body>
</html>

