<div class="social">
  <div id="fb-root"></div>
  <div class="fb-like" data-href="http://downtownseattleparking.com" data-width="90" data-layout="button_count" data-show-faces="false" data-send="false"></div>

  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://downtownseattleparking.com" data-text="Find your spot." data-hashtags="downtownseattleparking">Tweet</a>

  <div class="google-plus-one">
    <div class="g-plusone" data-size="medium" data-href="http://downtownseattleparking.com"></div>
  </div>
</div>
