---
prefix: ../../
page_type: mobile
scripts: 
  - js/footer.js
  - js/back.js
  - js/destination.js
---
{% include head.html %}

<article class="destination">
  <header>
    <h1 class="ir"><a href="../..">DowntownSeattleParking.com</a></h1>
    <h2 class="header-popular-destinations">
      <a href="..">Popular Destinations</a>
      <span class="btn back"><a href="#">Back</a></span>
    </h2>
    <p>Parking Options Near</p>
    <p class="destination-title">{{ page.title | html }}</p>
  </header>

  <ul class="lot-list nearby-cheap-lots">
    {% for lot in page.nearby_cheap_lots %}
      <li data-lat="{{ lot.lat }}" data-lng="{{ lot.lng }}"{% if lot.buslic_location_id %} data-buslic-location-id="{{ lot.buslic_location_id }}"{% endif %}{% if lot.total_spaces %} data-total-spaces="{{ lot.total_spaces }}"{% endif %}>
        <a href="{{ lot.page_url }}?title={{ page.title }}&lat={{ page.lat }}&lng={{ page.lng }}">
          <div class="wrapper">
            {% if lot['icon'] %}
              {% if lot['low_cost'] %}
              <span class="lot-icon icon-low"></span>
              {% else %}
              <span class="lot-icon icon-{{ lot.icon }}"></span>
              {% endif %}
            {% endif %}
            <span class="lot-title">{{ lot.title | html }}</span>
            {% if lot.cross_streets %}
            <br>
            <span class="cross-streets">{{ lot.cross_streets | html }}</span>
            {% endif %}
            <div class="epark-wrapper">
              <div class="total-bar">
                <div class="full-bar"><span></span>% Full</div>
              </div>
            </div>
          </div>
          <span class="distance">{{ lot.distance | to_fixed: 1 }}mi</span>
        </a>
      </li>
    {% endfor %}
  </ul>
  <ul class="lot-list nearby-lots">
    {% for lot in page.nearby_lots %}
      <li data-lat="{{ lot.lat }}" data-lng="{{ lot.lng }}">
        <a href="{{ lot.page_url }}?title={{ page.title }}&lat={{ page.lat }}&lng={{ page.lng }}">
          <div class="wrapper">
            <span class="lot-icon icon-{{ lot.icon }}"></span>
            <span class="lot-title">{{ lot.title }}</span>
            {% if lot.cross_streets %}
            <br>
            <span class="cross-streets">{{ lot.cross_streets }}</span>
            {% endif %}
          </div>
          <span class="distance">{{ lot.distance | to_fixed: 1 }}mi</span>
        </a>
      </li>
    {% endfor %}
  </ul>

  <footer>
    {% include footer.html %}
  </footer>
</article>

{% include foot.html %}
