---
prefix: ../../
page_type: mobile
needs_google_maps: true
scripts:
  - js/map-styles.js
  - js/mini-map.js
  - js/initial-mini-map.js
  - js/footer.js
---
{% include head.html %}

<script>
  var is_single_lot_page = true;
</script>

<article class="lot"{% if page.buslic_location_id %} data-buslic-location-id="{{ page.buslic_location_id }}"{% endif %}{% if page.total_spaces %} data-total-spaces="{{ page.total_spaces }}"{% endif %}>
  <header>
    <h1 class="ir"><a href="../..">DowntownSeattleParking.com</a></h1>
    <h2>{{ page.title }}</h2>
    <p class="address">{{ page.address }}</p>
  {% if page.phone %}
    <p class="phone">{{ page.phone }}</p>
  {% else %}
    <p class="phone">&nbsp;</p>
  {% endif %}
    <div class="btn back"><a href="#">Back</a></div>
    <div class="btn directions"><a target="_blank" href="{{ page.directions_url }}">Get Directions</a></div>
  </header>

  <section class="content">
  <div class="mini-map" data-lat="{{ page.lat }}" data-lng="{{ page.lng }}"
    {% if page.low_cost %}
      data-icon="low"
    {% elsif page.flat_rate %}
      data-icon="flat"
    {% elsif page.epark %}
      data-icon="epark"
    {% else %}
      data-icon="regular"
    {% endif %}
  >
      <div id="mini-map"></div>
      <a class="find-me" href="#"></a>
    </div>

    {% if page.buslic_location_id %}
    <div class="epark-info">
      <div class="icon"></div>
      <div class="data">
        Open Spaces <span class="open-spaces"></span><br>
        Capacity <span class="capacity"></span>
      </div>
      <div class="total-bar">
        <div class="full-bar"><span></span>% Full</div>
      </div>
    </div>
    {% endif %}

    <ul class="features">
      {% if page.low_cost %}
        <li class="low">Low-rate ($3/hour)</li>
      {% endif %}
      {% if page.flat_rate %}
        <li class="flat">Evening &amp; Weekend Flat Rate</li>
      {% endif %}
      {% if page.epark %}
        <li class="epark">e-Park</li>
      {% endif %}
    </ul>

    <section class="rates">
    <h3>Rates (taxes {% unless page.taxes_included %} not {% endunless %}included) </h3>
      <table>
        <tr>
          <td>1 hour</td>
          <td>{{ page.rate_1h }}</td>
        </tr>
        <tr>
          <td>2 hours</td>
          <td>{{ page.rate_2h }}</td>
        </tr>
        <tr>
          <td>3 hour</td>
          <td>{{ page.rate_3h }}</td>
        </tr>
        <tr>
          <td>4 hour</td>
          <td>{{ page.rate_4h }}</td>
        </tr>
        <tr>
          <td>Evening</td>
          <td>{{ page.rate_evening }}</td>
        </tr>
        <tr>
          <td>Weekend</td>
          <td>{{ page.rate_weekend }}</td>
        </tr>
      </table>
    </section>

    <section class="hours">
      <h3>Hours</h3>
      <table>
        <tr>
          <td>Weekday</td>
          <td>{{ page.hours_weekday }}</td>
        </tr>
        {% if page.neighborhood == 'retail' %}
        <tr>
          <td>Evenings</td>
          <td>
            {% if page.title contains 'Securities' %}
            Start at 4PM.
            {% else %}
            Start at 5PM.
            {% endif %}
          </td>
        </tr>
        {% endif %}
        <tr>
          <td>Saturday</td>
          <td>{{ page.hours_saturday }}</td>
        </tr>
        <tr>
          <td>Sunday</td>
          <td>{{ page.hours_sunday }}</td>
        </tr>
      </table>
      <p>Hours and rates may vary during special events. Please check with garage for details.</p>
    </section>
  </section>

  <!--
  <ul class="nearby-link">
    <li><a href="#">Attractions Nearby</a></li>
  </ul>
  -->

  <div class="overlay">
    <div class="spinner"></div>
    <div class="message">
      <p></p>
      <a href="..">OK</a>
    </div>
  </div>
</article>

{% include foot.html %}
