---
prefix: ../
page_type: mobile
needs_google_maps: true
scripts:
  - js/lots-data.js
  - js/sort.js
  - js/initial-sort.js
  - js/footer.js
  - js/back.js
---
{% include head.html %}

<header>
  <h1 class="ir"><a href="..">DowntownSeattleParking.com</a></h1>
  <h2 class="header-{{ page.title | parameterize }}">
    {{ page.title | html }}
    <span class="btn back"><a href="#">Back</a></span>
  </h2>
  {% if page.intro %}
  <p class="lot-list-intro">{{ page.intro }}</p>
  {% endif %}
</header>

<div class="sort{% if page.no_sort %} hidden{% endif %}">
  <span>Sort by:</span>
  <ul>
    <li class="alpha"><a class="selected" href="#">A - Z</a></li>
    <li class="distance"><a href="#">Near me</a></li>
  </ul>
</div>

<ul class="lot-list">
  {% for lot in page.lots %}
    <li data-lat="{{ lot.lat }}" data-lng="{{ lot.lng }}"{% if lot.buslic_location_id %} data-buslic-location-id="{{ lot.buslic_location_id }}"{% endif %}{% if lot.total_spaces %} data-total-spaces="{{ lot.total_spaces }}"{% endif %}>
      <a href="{{ lot.page_url }}">
        <div class="wrapper">
          {% if lot['icon'] %}
            {% if lot['low_cost'] %}
            <span class="lot-icon icon-low"></span>
            {% else %}
            <span class="lot-icon icon-{{ lot.icon }}"></span>
            {% endif %}
          {% endif %}
          <span class="lot-title{% unless lot['icon'] %} no-icon{% endunless %}">{{ lot['title'] | html }}</span>
          {% if lot.cross_streets %}
          <br>
          <span class="cross-streets">{{ lot.cross_streets | html }}</span>
          {% endif %}
          <div class="epark-wrapper">
            <div class="total-bar">
              <div class="full-bar"><span></span>% Full</div>
            </div>
          </div>
        </div>
        <span class="distance"></span>
      </a>
    </li>
  {% endfor %}
</ul>

{% if page.footer_links %}
  <ul class="link-list">
    {% for link in page.footer_links %}
      <li><a target="_blank" href="{{ link.href }}">{{ link.text }}<span></span></a></li>
    {% endfor %}
  </ul>
{% endif %}

<div class="overlay">
  <div class="spinner"></div>
  <div class="message">
    <p></p>
    <a href="..">Find Parking</a>
  </div>
</div>

<footer>
  {% include footer.html %}
</footer>

{% include foot.html %}
