---
prefix: ../
page_type: mobile
scripts: 
  - js/footer.js
  - js/back.js
---
{% include head.html %}

<header>
  <h1 class="ir"><a href="..">DowntownSeattleParking.com</a></h1>
  <h2 class="header-view-by-neighborhood">
    VIEW BY NEIGHBORHOOD
    <span class="btn back"><a href="#">Back</a></span>
  </h2>
</header>

<section class="hours-lots">
  <h2>Pioneer Square</h2>
  <ul class="lot-list lot-list-show">
    {% for lot in page.pioneer_lots %}
      <li data-lat="{{ lot.lat }}" data-lng="{{ lot.lng }}"{% if lot.buslic_location_id %} data-buslic-location-id="{{ lot.buslic_location_id }}"{% endif %}{% if lot.total_spaces %} data-total-spaces="{{ lot.total_spaces }}"{% endif %}>
        <a href="{{ lot.page_url }}">
          <div class="wrapper">
            {% if lot['icon'] %}
              {% if lot['low_cost'] %}
              <span class="lot-icon icon-low"></span>
              {% else %}
              <span class="lot-icon icon-{{ lot.icon }}"></span>
              {% endif %}
            {% endif %}
            <span class="lot-title{% unless lot['icon'] %} no-icon{% endunless %}">{{ lot['title'] | html }}</span>
            {% if lot.cross_streets %}
            <br>
            <span class="cross-streets">{{ lot.cross_streets | html }}</span>
            {% endif %}
            <div class="epark-wrapper">
              <div class="total-bar">
                <div class="full-bar"><span></span>% Full</div>
              </div>
            </div>
          </div>
          <span class="distance"></span>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>

<section class="hours-lots">
  <h2>Central Waterfront</h2>
  <ul class="lot-list lot-list-show">
    {% for lot in page.waterfront_lots %}
      <li data-lat="{{ lot.lat }}" data-lng="{{ lot.lng }}"{% if lot.buslic_location_id %} data-buslic-location-id="{{ lot.buslic_location_id }}"{% endif %}{% if lot.total_spaces %} data-total-spaces="{{ lot.total_spaces }}"{% endif %}>
        <a href="{{ lot.page_url }}">
          <div class="wrapper">
            {% if lot['icon'] %}
              {% if lot['low_cost'] %}
              <span class="lot-icon icon-low"></span>
              {% else %}
              <span class="lot-icon icon-{{ lot.icon }}"></span>
              {% endif %}
            {% endif %}
            <span class="lot-title{% unless lot['icon'] %} no-icon{% endunless %}">{{ lot['title'] | html }}</span>
            {% if lot.cross_streets %}
            <br>
            <span class="cross-streets">{{ lot.cross_streets | html }}</span>
            {% endif %}
            <div class="epark-wrapper">
              <div class="total-bar">
                <div class="full-bar"><span></span>% Full</div>
              </div>
            </div>
          </div>
          <span class="distance"></span>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>

<section class="hours-lots">
  <h2>Retail Core</h2>
  <ul class="lot-list lot-list-show">
    {% for lot in page.retail_lots %}
      <li data-lat="{{ lot.lat }}" data-lng="{{ lot.lng }}"{% if lot.buslic_location_id %} data-buslic-location-id="{{ lot.buslic_location_id }}"{% endif %}{% if lot.total_spaces %} data-total-spaces="{{ lot.total_spaces }}"{% endif %}>
        <a href="{{ lot.page_url }}">
          <div class="wrapper">
            {% if lot['icon'] %}
              {% if lot['low_cost'] %}
              <span class="lot-icon icon-low"></span>
              {% else %}
              <span class="lot-icon icon-{{ lot.icon }}"></span>
              {% endif %}
            {% endif %}
            <span class="lot-title{% unless lot['icon'] %} no-icon{% endunless %}">{{ lot['title'] | html }}</span>
            {% if lot.cross_streets %}
            <br>
            <span class="cross-streets">{{ lot.cross_streets | html }}</span>
            {% endif %}
            <div class="epark-wrapper">
              <div class="total-bar">
                <div class="full-bar"><span></span>% Full</div>
              </div>
            </div>
          </div>
          <span class="distance"></span>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>

<footer>
  {% include footer.html %}
</footer>
{% include foot.html %}
