---
prefix: ../
page_type: mobile
needs_google_maps: true
scripts:
  - js/lots-data.js
  - js/map-styles.js
  - js/sort.js
  - js/pick-map.js
  - js/footer.js
  - js/back.js
---
{% include head.html %}

<header>
  <h1 class="ir"><a href="..">DowntownSeattleParking.com</a></h1>
  <h2 class="header-view-on-map">
    VIEW ON MAP
    <span class="btn back"><a href="#">Back</a></span>
  </h2>
  <p class="map-intro">
    Tap a spot on the map below to view a list of parking options in 
    Seattle&rsquo;s Pioneer Square, Central Waterfront, or Retail Core
    neighborhoods.
  </p>
</header>

<div class="pick-map">
  <div class="pick-map-container">
    <div id="map">
    </div>
  </div>
</div>

<ul class="lot-list pick-map-results">
  {% for lot in page.lots %}
  <li data-lat="{{ lot.lat }}" data-lng="{{ lot.lng }}"{% if lot.buslic_location_id %} data-buslic-location-id="{{ lot.buslic_location_id }}"{% endif %}{% if lot.total_spaces %} data-total-spaces="{{ lot.total_spaces }}"{% endif %}>
      <a href="{{ lot.page_url }}">
        <div class="wrapper">
          {% if lot['icon'] %}
            {% if lot['low_cost'] %}
            <span class="lot-icon icon-low"></span>
            {% else %}
            <span class="lot-icon icon-{{ lot.icon }}"></span>
            {% endif %}
          {% endif %}
          <span class="lot-title{% unless lot['icon'] %} no-icon{% endunless %}">{{ lot['title'] | html }}</span>
          {% if lot.cross_streets %}
          <br>
          <span class="cross-streets">{{ lot.cross_streets | html }}</span>
          {% endif %}
          <div class="epark-wrapper">
            <div class="total-bar">
              <div class="full-bar"><span></span>% Full</div>
            </div>
          </div>
        </div>
        <span class="distance"></span>
      </a>
    </li>
  {% endfor %}
</ul>

<footer>
  {% include footer.html %}
</footer>

{% include foot.html %}
